<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!-- customer form group -->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2"><label for="firstName">First Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" id="firstName" formControlName="firstName" />
                <div
                  *ngIf="
                    this.firstName?.invalid && (this.firstName?.dirty || this.firstName?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      this.firstName?.errors?.['required'] ||
                      this.firstName?.errors?.['notOnlyWhitespace']
                    "
                  >
                    First Name is required.
                  </div>
                  <div *ngIf="this.firstName?.errors?.['minlength']">
                    First Name must be at least 2 characters long.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="lastName">Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" id="lastName" formControlName="lastName" />
                <div
                  *ngIf="this.lastName?.invalid && (this.lastName?.dirty || this.lastName?.touched)"
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      this.lastName?.errors?.['required'] ||
                      this.lastName?.errors?.['notOnlyWhitespace']
                    "
                  >
                    Last Name is required.
                  </div>
                  <div *ngIf="this.lastName?.errors?.['minlength']">
                    Last Name must be at least 2 characters long.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="email">Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="email" id="email" formControlName="email" />
                <div
                  *ngIf="this.email?.invalid && (this.email?.dirty || this.email?.touched)"
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="this.email?.errors?.['required']">Email is required.</div>
                  <div *ngIf="this.email?.errors?.['pattern']">
                    Email must be a valid email address format.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- shipping Address-->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <div class="row">
            <div class="col-md-2"><label for="country">Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  id="country"
                  formControlName="country"
                  (change)="getStates('shippingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>

                <div
                  *ngIf="
                    this.shippingAddressCountry?.invalid &&
                    (this.shippingAddressCountry?.dirty || this.shippingAddressCountry?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="this.shippingAddressCountry?.errors?.['required']">
                    Country is required.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="street">Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" id="street" formControlName="street" />
                <div
                  *ngIf="
                    this.shippingAddressStreet?.invalid &&
                    (this.shippingAddressStreet?.dirty || this.shippingAddressStreet?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      this.shippingAddressStreet?.errors?.['required'] ||
                      this.shippingAddressStreet?.errors?.['notOnlyWhitespace']
                    "
                  >
                    Street is required.
                  </div>

                  <div *ngIf="this.shippingAddressStreet?.errors?.['minlength']">
                    Street must be at least 2 characters long.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="city">City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" id="city" formControlName="city" />
                <div
                  *ngIf="
                    this.shippingAddressCity?.invalid &&
                    (this.shippingAddressCity?.dirty || this.shippingAddressCity?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      this.shippingAddressCity?.errors?.['required'] ||
                      this.shippingAddressCity?.errors?.['notOnlyWhitespace']
                    "
                  >
                    City is required.
                  </div>

                  <div *ngIf="this.shippingAddressCity?.errors?.['minlength']">
                    City must be at least 2 characters long.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="state">State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select id="state" formControlName="state">
                  <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                    {{ state.name }}
                  </option>
                </select>

                <div
                  *ngIf="
                    this.shippingAddressState?.invalid &&
                    (this.shippingAddressState?.dirty || this.shippingAddressState?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="this.shippingAddressState?.errors?.['required']">
                    State is required.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="zipCode">Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" id="zipCode" formControlName="zipCode" />
                <div
                  *ngIf="
                    this.shippingAddressZipCode?.invalid &&
                    (this.shippingAddressZipCode?.dirty || this.shippingAddressZipCode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      this.shippingAddressZipCode?.errors?.['required'] ||
                      this.shippingAddressZipCode?.errors?.['notOnlyWhitespace']
                    "
                  >
                    Zip Code is required.
                  </div>

                  <div *ngIf="this.shippingAddressZipCode?.errors?.['minlength']">
                    Zip Code must be at least 2 characters long.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Add check box to copy shipping address to billing address -->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)" />
            <span class="au-checkmark"></span>Billing address same as Shipping address
          </label>
        </div>

        <!-- Billing Address -->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>

          <div class="row">
            <div class="col-md-2"><label for="country">Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  id="country"
                  formControlName="country"
                  (change)="getStates('billingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    this.billingAddressCountry?.invalid &&
                    (this.billingAddressCountry?.dirty || this.billingAddressCountry?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="this.billingAddressCountry?.errors?.['required']">
                    Country is required.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="street">Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" id="street" formControlName="street" />
                <div
                  *ngIf="
                    this.billingAddressStreet?.invalid &&
                    (this.billingAddressStreet?.dirty || this.billingAddressStreet?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      this.billingAddressStreet?.errors?.['required'] ||
                      this.billingAddressStreet?.errors?.['notOnlyWhitespace']
                    "
                  >
                    Street is required.
                  </div>

                  <div *ngIf="this.billingAddressStreet?.errors?.['minlength']">
                    Street must be at least 2 characters long.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="city">City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" id="city" formControlName="city" />
                <div
                  *ngIf="
                    this.billingAddressCity?.invalid &&
                    (this.billingAddressCity?.dirty || this.billingAddressCity?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      this.billingAddressCity?.errors?.['required'] ||
                      this.billingAddressCity?.errors?.['notOnlyWhitespace']
                    "
                  >
                    City is required.
                  </div>

                  <div *ngIf="this.billingAddressCity?.errors?.['minlength']">
                    City must be at least 2 characters long.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="state">State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select id="state" formControlName="state">
                  <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                    {{ state.name }}
                  </option>
                  <!-- Add other states as needed -->
                </select>
                <div
                  *ngIf="
                    this.billingAddressState?.invalid &&
                    (this.billingAddressState?.dirty || this.billingAddressState?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="this.billingAddressState?.errors?.['required']">
                    State is required.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="zipCode">Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" id="zipCode" formControlName="zipCode" />
                <div
                  *ngIf="
                    this.billingAddressZipCode?.invalid &&
                    (this.billingAddressZipCode?.dirty || this.billingAddressZipCode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      this.billingAddressZipCode?.errors?.['required'] ||
                      this.billingAddressZipCode?.errors?.['notOnlyWhitespace']
                    "
                  >
                    Zip Code is required.
                  </div>

                  <div *ngIf="this.billingAddressZipCode?.errors?.['minlength']">
                    Zip Code must be at least 2 characters long.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Credit Card -->
        <!-- Before stripe version
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>

          <div class="row">
            <div class="col-md-2"><label for="cardType">Card Type</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select id="cardType" formControlName="cardType">
                  <option value="Visa">Visa</option>
                  <option value="MasterCard">MasterCard</option>
                </select>
                <div
                  *ngIf="
                    this.creditCardType?.invalid &&
                    (this.creditCardType?.dirty || this.creditCardType?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="this.creditCardType?.errors?.['required']">
                    Card Type is required.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="nameOnCard">Name on Card</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" id="nameOnCard" formControlName="nameOnCard" />
                <div
                  *ngIf="
                    this.creditCardNameOnCard?.invalid &&
                    (this.creditCardNameOnCard?.dirty || this.creditCardNameOnCard?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      this.creditCardNameOnCard?.errors?.['required'] ||
                      this.creditCardNameOnCard?.errors?.['notOnlyWhitespace']
                    "
                  >
                    Name on Card is required.
                  </div>

                  <div *ngIf="this.creditCardNameOnCard?.errors?.['minlength']">
                    Name on Card must be at least 2 characters long.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="cardNumber">Card Number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" id="cardNumber" formControlName="cardNumber" />
                <div
                  *ngIf="
                    this.creditCardNumber?.invalid &&
                    (this.creditCardNumber?.dirty || this.creditCardNumber?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="this.creditCardNumber?.errors?.['required']">
                    Card Number is required.
                  </div>
                  <div *ngIf="this.creditCardNumber?.errors?.['pattern']">
                    Card Number must be 16 digits long.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="securityCode">Security Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" id="securityCode" formControlName="securityCode" />
                <div
                  *ngIf="
                    this.creditCardSecurityCode?.invalid &&
                    (this.creditCardSecurityCode?.dirty || this.creditCardSecurityCode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="this.creditCardSecurityCode?.errors?.['required']">
                    Security Code is required.
                  </div>
                  <div *ngIf="this.creditCardSecurityCode?.errors?.['pattern']">
                    Security Code must be 3 digits long.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="expirationMonth">Expiration Month</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select id="expirationMonth" formControlName="expirationMonth">
                  <!-- Add month options --><!--
                  <option *ngFor="let month of creditCardMonths" (change)="handleMonthsAndYears()">
                    {{ month }}
                  </option>
                </select>
                <div
                  *ngIf="
                    this.creditCardExpirationMonth?.invalid &&
                    (this.creditCardExpirationMonth?.dirty ||
                      this.creditCardExpirationMonth?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="this.creditCardExpirationMonth?.errors?.['required']">
                    Expiration Month is required.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="expirationYear">Expiration Year</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  id="expirationYear"
                  formControlName="expirationYear"
                  (change)="handleMonthsAndYears()"
                >
                  <!-- Add year options --><!--
                  <option *ngFor="let year of creditCardYears">
                    {{ year }}
                  </option>
                </select>
                <div
                  *ngIf="
                    this.creditCardExpirationYear?.invalid &&
                    (this.creditCardExpirationYear?.dirty || this.creditCardExpirationYear?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="this.creditCardExpirationYear?.errors?.['required']">
                    Expiration Year is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->

        <!-- Stripe Elements Credit Card Section -->
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit or Debit Card</h3>
          <div id="card-element">
            <!-- a Stripe element will be inserted here. -->
          </div>

          <!-- Used to display form errors -->
          <div id="card-errors" [class]="displayError() !== '' ? 'alert alert-danger mt-1' : ''">
            {{ displayError() }}
          </div>
        </div>

        <!-- Order details -->
        <div class="form-area">
          <h3>Review Your Order</h3>
          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Shipping: FREE</p>
          <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
        </div>

        <!-- submit button -->
        <div class="text-center">
          <button type="submit" class="btn btn-info" [disabled]="isDisabled">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
